@model Team24_Final_Project.Models.Reservation

@{
    ViewData["Title"] = "Book";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Book" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Order.OrderID)
            @Html.HiddenFor(model => model.Property.PropertyID)

            <div class="form-group">
                <label class="contorl-label">Property:</label>
                @Html.DisplayFor(model => model.Property.PropertyAddress)
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CheckInDate" class="control-label"></label>
                <input asp-for="CheckInDate" class="form-control" />
                <span asp-validation-for="CheckInDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CheckOutDate" class="control-label"></label>
                <input asp-for="CheckOutDate" class="form-control" />
                <span asp-validation-for="CheckOutDate" class="text-danger"></span>
            </div>
            <br />
            @if (User.IsInRole("Customer"))
            {
                <div class="form-group">
                    <label asp-for="NumberOfGuests" class="control-label"></label>
                    <input asp-for="NumberOfGuests" type="number" class="form-control" />
                    <span asp-validation-for="NumberOfGuests" class="text-danger"></span>
                </div>
                <br />
            }
            <div class="form-group">
                <input type="submit" value="Add to Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" asp-route-orderID="@Model.Order.OrderID">Back to Orders List</a>
    <a asp-action="Index" asp-controller="Properties">Back to Properties List</a>
</div>

