@model Team24_Final_Project.Models.Reservation

@{
    ViewData["Title"] = "Cancel";
}

<h1>Your reservation has been cancelled.</h1>

<p>Send email to:</p>
@Html.DisplayFor(model => model.Order.User.Email)
<p>Order Confirmation Number:</p>
@Html.DisplayFor(model => model.Order.OrderNumber)

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Take me home!</a>